$base : 8px;
$space : $base/4;
 
svg { max-height: 100%; }
 
.menu-button {

    cursor: pointer;
    display: block;
    user-select: no;
    padding: $base*1.25;

    .menu-icon {

        background: $black;
        color: $black;
        display: block;
        height: $base;
        width: $base;

         box-shadow:
          -($base + $space) 0 -($base + $space),
          0 0 -($base + $space),
          ($base + $space) (-($base + $space)),
          -($base + $space) 0,
          $base + $space 0,
          -($base + $space) ($base + $space),
          0 ($base + $space),
          ($base + $space) ($base + $space);

          @include global-transition(all, 0.2s);

    }

    &.close {

        .menu-icon {

            box-shadow:
            0 0 -$base,
            0 0 -$base*2,
            $base 0,
            -$base*2 0,
            $base*2 0,
            -$base 0,
            0 $base*2,
            0 $base;
            -webkit-transform: rotate3d(0,0,1, 45deg)  scale3d(0.5,0.5,0.5);
            -moz-transform: rotate3d(0,0,1, 45deg)  scale3d(0.5,0.5,0.5);
            -ms-transform: rotate3d(0,0,1, 45deg)  scale3d(0.5,0.5,0.5);
            transform: rotate3d(0,0,1, 45deg)  scale3d(0.5,0.5,0.5);

        }

    }

}

#masthead {

    #mobile-menu {

        position: absolute;
        top: 0;
        @include rem( padding, 1.47, $gutter-15 );

    }

}