#wpbody-content #theme-options .rm_input {
	border-bottom: 1px solid #EEE;
	overflow: hidden;
	padding: 8px 12px 4px;
	margin: 0 -12px;
}
#wpbody-content #theme-options .inside .button {
	margin-top: 12px;
	width: auto;
}

#wpbody-content #theme-options .inside label {
	display: block;
	margin: 0 0 8px 0;
	font-size: 14px;
	font-weight: 400;
}

#wpbody-content #theme-options .inside small {
	color: #999;
	display: block;
	padding-top: 4px;
}

#wpbody-content #theme-options .inside textarea {
	min-height: 90px;
	max-height: 1300px;
	resize: none;
}

#wpbody-content #theme-options .inside textarea,
#wpbody-content #theme-options .inside input {
	width: 100%;
}

#wpbody-content #theme-options .inside .rm_slider .ui-slider {
	width: 80%;
}

#wpbody-content #theme-options .inside .rm_slider .amount {
	border: none;
	width: 10%;
}

#wpbody-content #theme-options .inside .rm_checkbox input {
	width: 16px;
}
#wpbody-content #theme-options .inside .rm_checkbox small {
	display: inline;
}

#wpbody-content #theme-options .inside .rm_upload .background {
    border: 1px solid rgba(0,0,0,0.25);
    padding: 3px;
    height: 150px;
    max-width: 100%;
    margin: 1.25em 0;
    width: 150px;
}
#wpbody-content #theme-options .inside .rm_upload .background img {
	height: auto;
	max-width: 100%;
	margin-bottom: -4px;
}
#wpbody-content #theme-options .inside .rm_upload input {
	margin-top: 12px;
	width: auto;
}

#wpbody-content #theme-options .js .postbox .hndle {
	cursor: text;
}

#wpbody-content #theme-options .about-description							{ margin-bottom: 16px; }
#wpbody-content #theme-options #dashboard-widgets #postbox-container-1		{ float: left; width: 49.5%; }
#wpbody-content #theme-options #dashboard-widgets #postbox-container-2		{ float: right; width: 50.5%; }
#wpbody-content #theme-options p.submit										{ display: block; float: left; clear: both; text-align: right; width: 100%; }
#wpbody-content #theme-options p.submit .button								{ margin-right: 8px; }
#wpbody-content #theme-options .welcome-panel-column p						{ padding: 0 8px; }



@media only screen and (max-width: 799px) {
	#wpbody-content #theme-options #dashboard-widgets #postbox-container-1,
	#wpbody-content #theme-options #dashboard-widgets #postbox-container-2 { width: 100%; }
}